.forgot {
  .link {
    cursor: pointer;
    line-height: 20px;
  }
  text-align: right;
  margin-top: 0.5rem;
  color: #3385ff;
  margin-bottom: 1.5rem;
}

.title {
  margin: 0px;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 4px;
}
