@import "../../assets/scss/variables.scss";

.drawer {
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 420px;
    max-width: 576px;
    width: 100%;
    background-color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.3s ease-out; 
    z-index: 1002;
  }
  

  .dragHandle {
    width: 96px;
    height: 6px;
    background-color: $colorPrimaryb200;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
  }
  
  .drawerContent {
    padding: 20px;
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 1001;
  }
  
  .overlayVisible {
    opacity: 1; 
  }
  